.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-size: 12rem;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #f8f9fd; */
}

#label {
    font-family: fantasy;
    color: black;
}

input[type="text"],
input[type="password"] {
    height: 45px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
}

input[type="submit"]:hover {
    background: #6cf0c2;
}

.button-container {
    display: flex;
    justify-content: center;
    font-size: medium;

}

.login-form {
    background-color: white;
    padding: 2rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    width: 40rem;
    height: 35rem;

}

.list-container {
    display: flex;
}

.error {
    color: red;
    font-size: 12px;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 15rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    color: greenyellow;
}

.head {
    color: greenyellow;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 12px;
    font-size: 2rem;
}

.button-container {
    margin-top: 3rem;
}

#res {
    font-size: 3rem;
    padding: 2rem;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-top: 8rem;
    color: aquamarine
}

.app {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    /* background-image: url('https://images7.alphacoders.com/362/362619.jpg'); */
    background-size: 800% 800%;
    /* animation: gradient 3s ease infinite; */
}

#page {
    background-image: url('https://images7.alphacoders.com/362/362619.jpg');
    background-size: cover;
}

.login-form {
    background-color: black;
    opacity: 75%;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}